{% extends 'shop/basic.html' %}

{% block css %}
.col-md-3
{
display:inline-block;
margin-left:-4px;
}
.col-md-3 img{
width:255px;
height:300px;
}
.carousel-indicators .active{
background-color:blue;
}
body .carousel-indicator li{
background-color:blue;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color:blue;
}
body .carousel-indicators{
bottom:0;
}
body .no-padding{
padding-left:0,
padding-right:0;
}

{% endblock %}

{% block body %}
{% load static %}
<div class="container">

    <!--    Slideshow starts here-->

    {% for product,range,nlsides in allprods %}
    <h1>Mens Fashion</h1>
    <div id="demo{{forloop.counter}}" class="carousel slide my-4" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
            {% for i in range%}
            <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i }}"></li>
            {% endfor %}
        </ul>

        <!-- slideshow starts here-->

        <div class="container carousel-inner no-padding">
            <div class="carousel-item active">
                <!--                <div class="col-xs-3 col-sm-3 col-md-3">-->
                <!--                    <div class="card" style="width: 18rem;">-->
                <!--                        <img src='{% static "shop/test.jpg" %}' class="card-img-top" alt="...">-->
                <!--                        <div class="card-body">-->
                <!--                            <h5 class="card-title">Card title</h5>-->
                <!--                            <p class="card-text">Some quick example text to build on the card title and make up the bulk-->
                <!--                                of-->
                <!--                                the-->
                <!--                                card's content.</p>-->
                <!--                            <a href="#" class="btn btn-primary">Go somewhere</a>-->
                <!--                        </div>-->
                <!--                    </div>-->

                <!--                </div>-->
                {% for i in product|slice:"0:" %}
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="card" style="width: 18rem,height: 20rem;">
                        <img src='/media/{{i.image}}' class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{i.product_name}}</h5>
                            <p class="card-text">{{i.desc}}</p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
            </div>
            <div class="carousel-item">
                {% endif %}


                {% endfor %}

            </div>
        </div>
        <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>

    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    </div>




    {% endfor %}

</div>

    {% endblock %}
